{{define "demo01/hello.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/s/css/mycss.css">
</head>
<body>
    定义一个用户的form表单：
    <form action="/getUserInfo" method="post">
        用户名：<input type="text" name="username">
        密码：<input type="password" name="pwd">
        年龄：<input type="text" name="age">
        你喜欢的编程语言：
        java:<input type="checkbox" name="lovelang" value="0">
        go:<input type="checkbox" name="lovelang" value="1">
        python:<input type="checkbox" name="lovelang" value="2">
        c:<input type="checkbox" name="lovelang" value="3">

        地址：<input type="text" name="user[addr]">
        邮件：<input type="text" name="user[email]">
        <input type="submit" value="提交">
    </form>
</body>
</html>
{{end}}