{{define "demo01/hello01.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/s/mycss.css">
</head>
<body>
    这是hello01.html页面，欢迎使用
    <span>这部分我想要使用红色</span>
    {{/*    这是第一种方式：第一个.代表的是：传入的数组的上下文,第二个.代表遍历的数组的上下文，代表每一个结构体实例*/}}
{{/*    {{range .}}*/}}
{{/*        {{.Name}}*/}}
{{/*        {{.Age}}*/}}
{{/*        <br>*/}}
{{/*    {{end}}*/}}

    {{/*    这是第二种方式：$i获取的是索引，$v获取的数组的具体的数值，如果只用$v接收也是可以的*/}}
{{/*    {{range $v := .}}*/}}
{{/*        {{$v.Name}}*/}}
{{/*        {{$v.Age}}*/}}
{{/*        <br>*/}}
{{/*    {{end}}*/}}

    {{/*获取map中内容，.代表上下文中的map,通过key获取value值*/}}
{{/*    {{.丽丽}}*/}}
{{/*    {{.菲菲}}*/}}


    {{/*.代表上下文Map，通过key得到value*/}}
{{/*    {{.no1.Name}}*/}}
{{/*    {{.no1.Age}}*/}}
{{/*    {{.no2.Name}}*/}}
{{/*    {{.no2.Age}}*/}}


{{/*第一种方式*/}}
{{range .}}
    {{.}}
{{end}}
{{/*第二种方式：*/}}
{{range $i,$v := .}}
    {{$i}}
    {{$v}}
{{end}}
</body>
</html>
{{end}}